{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}

<div class="container-fluid col-xxl-8 px-4 py-5 bg-light text-dark">
  <div class="row flex-lg-row align-items-center g-5 py-5 justify-content-center">
    <div class="col-lg-6">
      <h1 class="display-4 fw-bold mb-4" style="color: #FF5733;">Discover <span class="text-primary" style="color: #FF5733;">NEW-LOOK</span>OUTFITS</h1>

      <p class="lead">
        The celebrities named or featured on NewLook.com have not endorsed, recommended or approved the items offered on site unless they are promoting their own brand.</p>
    </div>
  </div>
</div>

{% endblock %}
