{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}
OTP Verify
{% endblock%}
{% block styles %}
{% endblock %}
{% block body %}
<section class="vh-100">
    <style>
        .custom-heading {
            font-size: 1.5rem; /* Adjust font size as needed */
            font-weight: bold;
            text-align: center;
            color: #FF5733; /* Custom color */
            font-family: 'UniqueFont',sans-serif;/* Use Roboto font */
            /* Add any additional styles you want to customize the heading */
        }
    </style>
    
    <div class="container-fluid h-custom my-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h1 class="custom-heading">Verify Your OTP</h1>
            <div class="col-md-8 col-lg-6 col-xl-4 ">
                <form action="{% url 'new_otp_verification' %}" method="post">
                    {% csrf_token %}
                  
                    <input type="hidden" name="email" id="email" value="{{cum_email}}">
                
                    <div class="form-outline mb-4">
                        <label class="form-label" for="otp">Enter OTP</label>
                        <input type="text" id="otp" name="otp" class="form-control form-control-lg">
                           
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-dark btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Verify</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">If you didn't receive the OTP, you can... <a href="#" class="btn link-primary">Resend OTP?</a>.</p>
                    </div>

                </form>
            </div>
            
        </div>
    </div>

</section>
{% endblock %}